*{
    box-sizing: border-box;
}

   html, body {
       width: 100%;
       height: 100%;
   }

    #container {
       width: 90%;
    }

    #header {
        border-style: solid;
        height: 50px;
    }

    #footer {
        border-style: solid;
        height: 50px;
    }

    #products {  
        text-align: center;  
        border-style: solid;    
    }
  

  /*   .items {
        background-color: aqua;
        width: 135px;
        display: inline-block;
        margin: 3px;
    } */

    #cart {           
        border-style: solid; 
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
    }

    .items p{
        margin-block-start: 0px;
        margin-block-end: 5px;
    }

    .price {
        font-weight: bold;
    }
    /* products layout */
    #products {
        width: 90%;
        height: 90%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap:1px;
    }

    #products .items{
        margin: 2px 0;
        width: 100%;
    /*     height: 100%; */
        display :flex;
        flex-direction: column;
        text-align: center;
        object-fit: fill;
    }

    #products .items .amount {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #products .items .amount button {
        width: 20%;
        border: 1px solid red;
    }

    #products .items .amount input {
        width: 50%;
        text-align: center;
        border: 1px solid green;
    }

    #products .items .pImg {
        width: 100%;
        height: 100%;
    }

    #products .items img {
        width: 100%;
        height: 100%;
    }

    .orderControll {
        display: flex;
        justify-content: space-around;
    }
    .orderControll button {
        width: 30%;
    }

    /* Cart layout */
    #myList {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        
    }

    #myList .itemsCart {
        width: 100%;
        display: grid;
    /*     grid-template-areas:
        "i i i i i i i i i f f f"
        "i i i i i i i i i f f f"
        "i i i i i i i i i a a a";  */
        grid-template-columns: minmax(50px,2fr) minmax(20px,1fr);
        grid-template-rows: repeat(3,30px);
        border: 1px double red;
    }

    #myList .itemsCart .pImg {
       grid-row: 1 / -1;
       width: 100%;
       height: 100%;
       border: 1px dotted green;
    }

    #myList .itemsCart img {
        width: 100%;
        height: 100%;
    }

    #myList .itemsCart .pInfo {
       /*  grid-area: f; */
        grid-column: 2;
        grid-row: 1 / span 3;
        text-align: center;
        border: 1px dotted green;
        display: flex;
        flex-direction: column;
    }

    #myList .itemsCart .amount {
        grid-column: 2;
        grid-row: 3;
        width: 100%;
        display: flex;
        justify-content: center;
        border: 1px dotted green;
    }

    #myList .itemsCart .amount button {
        flex: 1;
        text-align: center;
        width: 20%;
    }

    #myList .itemsCart .amount input {
        flex: 2;
        text-align: center;
        width: 60%;
    }


    
